<?xml version="1.0" encoding="utf-8"?>
<BuildInfo>
  <Scences>
    <Scence explain="入口场景">Assets\Scenes\main.unity</Scence>
    <Scence explain="游戏场景">Assets\Scenes\game.unity</Scence>
  </Scences>
  <PackNname>sas.aaa.cc</PackNname>
  <OutPath>build/android.apk</OutPath>
  <Version>v1.0</Version>
  <BuildType>
    <Android>
      <BuildSystem>Internal</BuildSystem>
    </Android>
  </BuildType>
</BuildInfo>