<?xml version="1.0" encoding="utf-8"?>
<BuildInfo>
  <Scences explain="场景集合">
    <Scence explain="入口场景">Assets/Scence/main_scence_android.unity</Scence>
    <Scence explain="苏州麻将牌桌场景">Assets/Services/MaJiang/MajiangClientCore/Scenes/MajiangSuzhou.unity</Scence>
  </Scences>
  <PackName explain="包名">com.fangqingsong.suzhoumajiang</PackName>
  <Version explain="版本号">v1.0</Version>
  <BundleVersionCode explain="代码版本">1</BundleVersionCode>
  <SdkVersions explain="安卓sdk版本" min="16" max="25" default="16">16</SdkVersions>
  <TargetSdkVersion explain="目标SDK版本,0是自动" min="21" max="25" default="0">0</TargetSdkVersion>
  <TargetDevices explain="设备架构" default="ARMv7"></TargetDevices>
  <Scriptingimplementation explain="脚本运行环境" default="Mono2x"></Scriptingimplementation>
  <ApiCompatibilityLevel explain="Api 兼容等级" default="NET_2_0_Subset"></ApiCompatibilityLevel>
  <InternetAccess explain="是否联网" default="true"></InternetAccess>
  <Development explain="开发模式打包" default="false"></Development>
  <ConnectProfiler explain="是否使用性能分析器,只有在development 为true时才有用" default="false"></ConnectProfiler>
  <ScriptsDebuggers explain="脚本调试器,只有在development 为true时才有用" default="false"></ScriptsDebuggers>
</BuildInfo>